// Media queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, "sm");

  @if $value == null {
    @warn "'#{$break}' is not a valid breakpoint name.";
  } @else if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin shadow($color: $shadow) {
  box-shadow: 0 1px 1px $color, 0 2px 2px $color, 0 4px 4px $color,
    0 8px 8px $color, 0 16px 16px $color;
}

@mixin inset($color: $shadow) {
  box-shadow: inset 0 1px 1px $color, inset 0 2px 2px $color,
    inset 0 4px 4px $color, inset 0 8px 8px $color, inset 0 16px 16px $color;
}
