// Colors
$color-1: #202531;
$color-1-light: #282f3e;
$color-1-lighter: #30384b;
$color-1-shadow: #181c25;
$shadow: rgba(0, 0, 0, 0.12);
$color-2: #afaab9;
$color-3: #3847b0;
$color-4: #06aed5;
$color-4-glow: rgba(8, 144, 152, 0.2);
$color-5: #ed217c;
$color-5-glow: rgba(226, 0, 118, 0.2);
$color-6: #102542;
$color-7: #f7f052;
$color-dark: #101319;
$color-html-light: #f16529;
$color-html-dark: #e44d26;
$color-css-light: #33a9dc;
$color-css-dark: #1572b6;
$color-js: #f0db4f;
$color-git: #f34f29;
$color-sass: #cb6699;
$color-bs-light: #8c0bfb;
$color-bs-dark: #790af6;

// Old Colors
$color-4-old: #089098;
// Breakpoints
$breakpoints: (
  "xxs": 374px,
  "xs": 575px,
  "sm": 576px,
  "sm-md": 730px,
  "med": 768px,
  "lg": 990px,
  "xl": 1024,
);
