button {
  background-color: initial;
  border: none;
  padding: 5px 0;
}

.cta {
  width: 22rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  color: $color-5;
  padding: 1.5rem;
  border: 2px solid $color-5;
  border-radius: 10px;
  margin-top: 2rem;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  box-shadow: 0 0 0.3rem 0.3rem $color-5-glow,
    inset 0 0 0.3rem 0.3rem $color-5-glow;
  &:hover {
    color: $color-2;
    background-color: $color-5;
  }
  @include mq("xs") {
    width: 17rem;
    font-size: 1.1rem;
  }
}

#projects-button {
  @include mq("lg") {
    margin-top: 0;
  }
}

.button-group {
  position: relative;
  margin-top: 3rem;
  @include mq("lg") {
    margin-top: 0;
  }
}

.info-button {
  position: absolute;
  opacity: 0;
  & .cta {
    margin: 0;
  }
}

.call {
  top: 8.8rem;
  z-index: -1;
  @include mq("med") {
    top: 9.2rem;
  }
  @include mq("lg") {
    top: 7.2rem;
  }
}

.email {
  top: 14rem;
  z-index: -2;
  @include mq("med") {
    top: 15rem;
  }
  @include mq("lg") {
    top: 13rem;
  }
}

.show-call {
  transition: top 0.3s cubic-bezier(0.74, 0.74, 0.56, 1.36),
    opacity 0.2s cubic-bezier(0.74, 0.74, 0.56, 1.36);
  top: 14rem;
  opacity: 100;
  z-index: 0;
  @include mq("med") {
    top: 15rem;
  }
  @include mq("lg") {
    top: 13rem;
  }
}

.show-email {
  transition: top 0.3s 0.3s cubic-bezier(0.74, 0.74, 0.56, 1.36),
    opacity 0.2s 0.3s cubic-bezier(0.74, 0.74, 0.56, 1.36);
  top: 19.2rem;
  opacity: 100;
  z-index: 0;
  @include mq("med") {
    top: 20.8rem;
  }
  @include mq("lg") {
    top: 18.7rem;
  }
}

.hide-call {
  transition: top 0.2s 0.2s cubic-bezier(0.74, 0.74, 0.56, 1.36),
    opacity 0.1s 0.2s cubic-bezier(0.74, 0.74, 0.56, 1.36);
  top: 8.8rem;
  z-index: -1;
  opacity: 0;
  @include mq("med") {
    top: 9.2rem;
  }
  @include mq("lg") {
    top: 7.2rem;
  }
}

.hide-email {
  transition: top 0.2s cubic-bezier(0.74, 0.74, 0.56, 1.36),
    opacity 0.1s cubic-bezier(0.74, 0.74, 0.56, 1.36);
  top: 14rem;
  z-index: -2;
  opacity: 0;
  @include mq("med") {
    top: 15rem;
  }
  @include mq("lg") {
    top: 13rem;
  }
}
