.card {
  color: $color-2;
  width: 100%;
  background: $color-1-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.3s;
  @include shadow;
  svg {
    width: 100%;
    height: 100%;
  }
  h3 {
    color: $color-7;
  }
  p {
    font-size: 1.2rem;
  }
  .text-container {
    margin: 0 1rem;
  }
  &:hover {
    transform: scale(107%);
    color: $color-2;
  }
  &-skill {
    &:hover {
      transform: none;
    }
    &-html:hover {
      @include shadow($color-html-glow);
    }
    &-css:hover {
      @include shadow($color-css-glow);
    }
    &-js:hover {
      @include shadow($color-js-glow);
    }
    &-git:hover {
      @include shadow($color-git-glow);
    }
    &-sass:hover {
      @include shadow($color-sass-glow);
    }
    &-bs:hover {
      @include shadow($color-bs-glow);
    }
  }
}

.card-trim {
  //   height: 8px;
  width: 100%;
  background-color: $color-7;
  border-radius: 8px 8px 0 0;
  padding-bottom: 8px;
  &-html {
    background-color: $color-html-light;
  }
  &-css {
    background-color: $color-css-light;
  }
  &-js {
    background-color: $color-js;
  }
  &-git {
    background-color: $color-git;
  }
  &-sass {
    background-color: $color-sass;
  }
  &-bs {
    background-color: $color-bs-light;
  }
}

.thumb {
  width: 100%;
  max-width: 750px;
}

.skill-icon {
  max-width: 10rem;
  margin-top: 1rem;
}

.svg-text {
  fill: $color-2;
}
