body {
  margin-bottom: 3rem;
  @include mq("sm-md") {
    display: flex;
  }
}

.container {
  padding: 0 1rem;
}

.centered {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1400px;
  margin: auto;
}

.landing-page {
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  @include mq("lg") {
    justify-content: space-between;
    padding-bottom: 45vh;
  }
  @include mq("xxs") {
    justify-content: start;
    height: 110vh;
  }
  @include mq("xxl") {
    flex-direction: row;
  }
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  scroll-margin-top: 5rem;
  &:first-of-type {
    margin-top: 0;
  }
}

#home {
  scroll-margin-top: 5rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-1-lighter;
  margin: 0 5%;
  max-width: 1600px;
  border-radius: 10px;
  @include inset;
}

.project-area {
  display: grid;
  // grid-template-columns: repeat(autofit, minmax(308px, 540px));
  grid-template-columns: minmax(308px, auto);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding-bottom: 3rem;
  margin: 0 1rem;
  @include mq("med") {
    margin: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @include mq("lg") {
    margin: 0 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
