nav {
  font-size: 1.5rem;
  height: 3rem;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // background-color: $color-dark;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
  a {
    color: $color-4;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  a:not(:first-child) {
    margin-left: 3rem;
  }
  &-expanded {
    display: none;
    @include mq("sm-md") {
      display: flex;
    }
  }
}

.menu {
  width: 32px;
  height: 32px;
  @include mq("sm-md") {
    display: none;
  }
}

.hamburger {
  stroke: $color-4;
}

a {
  color: $color-2;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-out;
  &:hover {
    color: $color-4;
  }
}
