body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $color-1;
  color: $color-4;

  //   background: url("../../img/peakpx.jpg") no-repeat $color-1;
  //   background-blend-mode: multiply;
  //   padding: 0 1rem;
}

h1 {
  margin: 0;
  font-size: calc(4.5rem + 1.3vw);
  text-shadow: 5px 5px 3px $color-1-shadow;
  @include mq("xs") {
    // font-size: 2.9rem;
    font-size: calc(2.7rem + 1.3vw);
  }
  @include mq("xxs") {
    // font-size: 2.7rem;
    font-size: calc(2.5rem + 1.3vw);
  }
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 1.5rem;
}

nav h2 {
  font-family: "Abel", sans-serif;
  color: $color-4;
}

.intro {
  font-size: calc(1.3rem + 0.6vw);
  margin: 0;
  color: $color-2;
  text-shadow: 3px 3px 1px $color-1-shadow;
  @include mq("xxs") {
    font-size: 1.2rem;
  }
}

#about {
  margin: 0 5%;
  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    color: $color-2;
  }
}
