* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  //   background: url("../../img/peakpx.jpg") no-repeat $color-1;
  //   background-blend-mode: multiply;
  //   padding: 0 1rem;
  background-color: $color-1;
  color: $color-4;
  height: 0;
}

h1 {
  margin: 0;
  font-size: calc(4.5rem + 1.3vw);
  text-shadow: 5px 5px 3px $color-shadow;
  @include mq("xs") {
    font-size: 3rem;
  }
}

nav h2 {
  font-family: "Abel", sans-serif;
  color: $color-4;
}

.intro {
  font-size: calc(1.3rem + 0.6vw);
  margin: 0;
  color: $color-2;
  text-shadow: 3px 3px 1px $color-shadow;
}

.hidden {
  display: none;
}
